header{
	background-image:url(images/home/slider-bg.png);
	background-size:100%;
	background-repeat:no-repeat;
    height:60vh;
}
#bg{
	background-image:url(images/home/tour-bg.png);
	background-repeat:repeat-x;
}
#bg-footer{
	background-image:url(images/home/footer.png);
	background-repeat:no-repeat;
	background-size:100%;
	height:75vh;
}